<div
  class="modal"
  aria-hidden="false"
  style="display: block;"
  ng-show="isPopupVisible"
>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title"><strong>{{action}} Product</strong></h1>
    </header>
    <section class="modal-card-body">
      <div>
        <div class="container" *ngIf="action != 'Delete'; else elseTemplate">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" [(ngModel)]="local_data.name" />
            </div>
          </div>

          <div class="field">
            <label class="label">Rate</label>
            <div class="control">
              <input
                class="input"
                type="number"
                [(ngModel)]="local_data.rate"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Quantity</label>
            <div class="control">
              <input class="input" type="number" [(ngModel)]="local_data.qty" />
            </div>
          </div>
        </div>
        <ng-template #elseTemplate>
          Sure to delete <b>{{local_data.name}}</b>?
        </ng-template>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="doAction()">{{action}}</button>
      <button class="button is-warning" (click)="closeDialog()">Cancel</button>
    </footer>
  </div>
</div>
