<div class="container">
  <div class="columns mt-4">
    <div class="column is-2">
      <button class="button is-info" (click)="openDialog('Add',{})">
        Add Sale
      </button>
    </div>
    <div class="column">
      <button class="button is-info" (click)="invoiceFlgChange()">
        Generate Invoice
      </button>
    </div>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th *ngIf="invoiceFlg">Select</th>
        <th>Sale ID</th>
        <th>Customer Name</th>
        <th>Contact Number</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Total Amount</th>
        <th *ngIf="!invoiceFlg">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td *ngIf="invoiceFlg">
          <label class="checkbox">
            <input type="checkbox" />
          </label>
        </td>
        <th>{{sale.sale_id}}</th>
        <td>{{sale.sale_customer_name}}</td>
        <td>{{sale.sale_customer_contact}}</td>
        <td>{{sale.sale_product}}</td>
        <td>{{sale.sale_qty}}</td>
        <td>{{sale.sale_rate}}</td>
        <td>{{sale.sale_total}}</td>
        <td class="action-link" *ngIf="!invoiceFlg">
          <a (click)="openDialog('Update',sale)">Edit</a> |
          <a (click)="openDialog('Delete',sale)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
